* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

.root {
    --bg-color: #757761;
    --second-bg-color: #A69658;
    --text-color: #FFF;
    --main-color: #E16036;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #b8b5b5;
    position: relative;
}

.content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100%;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #522b07;
    padding: 10px;
    position: sticky;
    font-size: 2rem;
}

#navbar a{
    text-decoration: none;
    display: inline-block;
    color: #fffefe;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#navbar a:hover {
    color: #000;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.logo {
    display: inline-block;
    background: url('resources/img/week4-logo-bk.png') no-repeat;
    width: 149px;
    height: 32.6px;
}
.gh-img {
    display: inline-block;
    background: url('resources/img/myRepo-logo-bk.png') no-repeat;
    width: 211px;
    height: 48px;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
}
.gh-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.logo:hover img {
    visibility: hidden;
}

.gh-img:hover img {
    visibility: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownContent {
    display: none;
    position: absolute;
    background-color: #522b07;
    font-size: 1.5rem;
    line-height: 2.5rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdownToggle {
    display: none;
    cursor: pointer;
}
#dropdownToggle img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.dropdown-content a:hover {
    background-color: #ffffff;
    color: #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-box {
    margin-top: 5rem;
}

.box-container {
    margin-top: 10px;
    min-width: 420px;
    max-width: 599px;
    min-height: 6rem;
    display: flex;
    flex-direction: column;   
}
.box-top {
    background-color: #522b07;
    height: 1.7rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #000 10px 15px 5px;
}
.box-top p {
    color:#FFF
}
.box-top-button {
    height: 100%;
    padding: 7px 7px;
    background-color: #94864f;
    border: none;
    cursor: pointer;
    color: #fcfcfc;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 0;
}

#topLeftBtn1, #topLeftBtn2, #topLeftBtn3, #topLeftBtn4, #topLeftBtn5, #topLeftBtn6, #topLeftBtn7, #topLeftBtn8, #topLeftBtn9, #topLeftBtn10 {
    border-top-left-radius: 12px;
    min-width: 65px;
}
#topRightBtn1, #topRightBtn2, #topRightBtn3, #topRightBtn4, #topRightBtn5, #topRightBtn6, #topRightBtn7, #topRightBtn8, #topRightBtn9, #topRightBtn10 {
    border-top-right-radius: 12px;
    min-width: 65px;
}
#topRightBtn1:hover, #topRightBtn2:hover, #topRightBtn3:hover, #topRightBtn4:hover, #topRightBtn5:hover, #topRightBtn6:hover, #topRightBtn7:hover, #topRightBtn8:hover, #topRightBtn9:hover, #topRightBtn10:hover {
    background-color: #A69658;
}
#topRightBtn1.clicked, #topRightBtn2.clicked, #topRightBtn3.clicked, #topRightBtn4.clicked, #topRightBtn5.clicked, #topRightBtn6.clicked, #topRightBtn7.clicked, #topRightBtn8.clicked, #topRightBtn9.clicked, #topRightBtn10.clicked {
    background-color: #050505;
    color: #fdfdfd;
}

.box-top-button:hover {
    background-color: #A69658;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #cacaca;
    width: 55vw;
    height: 100%;
}
.form-box li {
    list-style-type: none;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.car-form-btn {
    background-color: #94864f;
    border: none;
    cursor: pointer;
    color: #fcfcfc;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 7px 7px;
    transition: background-color 0.3s ease-in-out;
}

.car-form-btn:hover {
    background-color: #000000;
    color: #fdfafa;
}

.car-form-input{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 7px 7px;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 0;
    transition: background-color 0.3s ease-in-out;
}

#name-list li {
    color: #000000;
    font-weight: 900;
    font-size: 1.4rem;
}

.exercise-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.exercise-1-container .div-colored {
    width: 100%;
    height: 100px;
    background-color: #522b07;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: 1px solid #808080;
    box-shadow: 3px 3px 3px darkslategrey;
    font-weight: 500;
    color: whitesmoke;
}

.exercise-1-container button {
    width: 30%;
    height: 50px;
    font-size: 1.6rem;
    margin-top: 20px;
    background-color: #522b07;
    color: #cac9c9;
    font-weight: 700;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: -35vh;
    top: 0px;
    width: 170vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #522b07;
    color: #e2e2e2;
    font-weight: 600;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #5f5f5f;
    width: 30%;
}

.close {
    color: #94864f;
    float: right;
    font-size: 2.2rem;
    font-weight: 700;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box-bottom {
    padding: 0;
    background-color: #d3d0d0;
    flex-grow: 1;
    overflow: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: bold;
    padding-left: 16px;
    box-shadow: #000 10px 15px 5px;
    color: #660e0e;
}

.div-container {
    width: fit-content;
    margin-top: 20px;
    min-width: 60px;
    max-width: 360px;
    background-color: #cac9c9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-top: 12px;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #FFF;
    border: 1px solid #808080;
    box-shadow: 3px 3px 3px darkslategrey;
}
.my-div {
    margin-top: 10px;
    width: 100%/3;
    padding: 10px;
    height: 25px;
    background-color:red;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.1rem;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.my-div:hover {
    background-color: #000;
    color: #FFF;
}
.my-div.clicked {
    background-color: #fff;
    color: #000;
}

.output-div {
    width: 15%;
    min-height: 60px;
    width: fit-content;
    background-color: #522b07;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.6rem;
    border: 1px solid #808080;
    box-shadow: 3px 3px 3px darkslategrey;
    font-weight: 500;
    color: whitesmoke;
}

#car-selector {
    width: 200px;
    height: 50px;
    font-size: 2rem;
    display: flex;
}

.car-table-container {
    width: 70vw;
    margin: 20px auto; /* Automatically determine left/right margins to center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the child items horizontally */
}

.car-table-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.car-table-container button {
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #000000;
    width: 40%;
    height: 40px;
    font-size: 1.6rem;
    margin-top: 15px;
    background-color: #522b07;
    color: #cac9c9;
    font-weight: 700;
}
.car-table-container input {
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #000000;
    width: 60%;
    height: 40px;
    font-size: 1.6rem;
    background-color: #522b07;
    color: #fffefe;
    font-weight: 700;
}

#car-table {
    text-align: left;
    width: 100%; /* Making the table take the full width of its container */
    border-collapse: collapse; /* Removing spaces between borders of cells */
    margin: 20px 0; /* Giving some spacing above and below the table */
}

#car-table th {
    text-align: left;
    background-color: #522b07; /* Using the darkest color for table headers for contrast */
    color: #cacaca; /* Light color for the text in the table headers */
    padding: 10px 15px; /* Some padding to give the headers breathing space */
    text-align: left; /* Aligning text to the left; can change based on preference */
    font-size: 1.6rem;
    font-weight: bold; /* Making the header text bold */
    width: 15vw;
}
#car-table .toggle-show-button{
    position: relative;
}
#car-table .toggle-show-button:hover{
    background-color: #A69658;
}

#car-table th:nth-child(1), #car-table td:nth-child(1) {
    text-align: center;
    font-size: 1.2rem;
}
#car-table th:nth-child(2), #car-table td:nth-child(2),
#car-table th:nth-child(3), #car-table td:nth-child(3) {
    text-align: center;
}

#car-table th:nth-child(4), #car-table td:nth-child(4) {
    text-align: right;
    margin-right: 50px;
}

#car-table td {
    background-color: #94864f; /* Using the middle color for table data cells */
    color: #522b07; /* Using the darkest color for the text to contrast with the cell's background color */
    padding: 8px 15px; /* Some padding for the data cells */
    border-bottom: 1px solid #cacaca; /* Adding a light border at the bottom of each row to separate them */
    width: 20vw;
    font-size: 1.0rem;
    font-weight: 900;
}

#car-table tr:hover td {
    background-color: #cacaca; /* A lighter color for the hover effect */
    color: #522b07; /* Retaining the darker color for the text during hover */
}

/* If you'd like to add some spacing between rows, consider a slight margin and use display:block; */
#car-table tr {
    margin: 5px 0;
}